@import '../../../styles.scss';
:host {
    display: grid;
    grid-template-columns: 1fr;
    background-color:rgba(165, 165, 165, 0.966);
    border-radius: 10px;

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        justify-items: center;
        padding: 24px;

        .beast-tile {
            display: flex;
            justify-content: center;
            align-content: center;
            width: fit-content;
            min-width: 200px;
            height: 100px;
            background-color: rgba(78, 78, 78, 0.966);
            box-shadow: 5px 10px 6px;
            border-radius: 10px;


            .beast-text {
                text-shadow: rgb(0, 0, 0) 1px 0 10px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-align: center;
                line-height: 100px;
            }
        }
        .beast-tile:hover {
            background-color: yellow;
            border-radius: 10px 10px 6px;
            background-image: radial-gradient(yellow,rgba(78, 78, 78, 0.966), rgba(78, 78, 78, 0.966));
            height: 110px;
            width: 210px;
        }
    }
}